@import '../utils/vars';
@import '../partials/button';

.checkout {
	display: grid;
	grid-template-columns: 2fr 1fr;

	@media (max-width: 1200px) {
		grid-template-columns: 1.5fr 1fr;
	}

	@media (max-width: 1000px) {
		display: flex;
		flex-direction: column;
	}

	.inventory {
		width: 100%;
		padding: 2rem;

		ul {
			list-style: none;

			li {
				display: flex;
				padding: 1rem 0;
				justify-content: space-between;

				.product-quantity {
					gap: 1rem;
					display: flex;
					align-items: center;

					a {
						@include button;

						padding: 0;
						display: flex;
						border-radius: 50%;
						align-items: center;
						justify-content: center;
					}
				}

				a {
					color: $color;
					max-width: 50%;
					overflow: hidden;
					white-space: nowrap;
					text-decoration: none;
					text-overflow: ellipsis;
				}

				.product-details {
					gap: 1rem;
					display: flex;
					align-items: center;

					h4 {
						font-size: 14px;
						margin-top: 6px;
						font-weight: 400;
						font-family: 'Red Hat Mono', monospace;
					}

					img {
						width: 40px;
						height: 40px;
						border-radius: 50%;
					}
				}

				&:not(:last-of-type) {
					border-bottom: 1px solid rgb(235, 235, 235);
				}
			}
		}
	}

	form {
		gap: 2rem;
		width: 100%;
		display: flex;
		padding: 3rem;
		flex-direction: column;

		@media (min-width: 1000px) {
			border-right: 1px solid rgb(235, 235, 235);
		}

		input,
		select {
			width: 100%;
			padding: 0.7rem;
			border-radius: 0.5rem;
			border: 1px solid rgb(219, 219, 219);
		}

		section {
			gap: 2rem;

			label {
				display: block;
				margin-bottom: 7px;
			}
		}

		button {
			@include button;
			margin-left: auto;
		}
	}
}
