<link rel="stylesheet" href="/public/css/home.min.css" />

<div class="column">
	{{ range .Products }}

	<section class="section uk-container-large">
		<div class="photo-grid">
			<img src="/public/img/product/a.webp" alt="" />
			<img src="/public/img/product/b.webp" alt="" />
			<img src="/public/img/product/c.webp" alt="" />
			<img src="/public/img/product/d.webp" alt="" />
		</div>
		<div class="about-product uk-width-100">
			<h2 class="uk-text-bold">{{ .Name }}</h2>
			<p>{{ .Description }}</p>

			<a
				class="uk-button uk-button-primary"
				data-aos="zoom-in"
				href="/{{ Replace .Name }}/{{ .ID }}"
			>
				Buy now
			</a>
		</div>
	</section>

	{{ end }}
</div>
