<link rel="stylesheet" href="/public/css/home.css" />
<div class="column">
	<!-- <section class="section"></section> -->

	<section class="section">
		<div class="uk-container-large">
			<div class="photo-grid">
				<img src="/public/img/product/a.webp" alt="" />
				<img src="/public/img/product/b.webp" alt="" />
				<img src="/public/img/product/c.webp" alt="" />
				<img src="/public/img/product/d.webp" alt="" />
			</div>
			<div class="about-product">
				<h2 class="uk-text-bold">Lorem ipsum dolor sit amet.</h2>
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente
					voluptates unde iure, molestiae maiores ipsam ipsa deserunt?
					Dignissimos, consectetur? Repudiandae perspiciatis sapiente adipisci
					magni? At.
				</p>

				<button class="uk-button uk-button-primary" data-aos="zoom-in">
					Buy now
				</button>
			</div>
		</div>
	</section>

	<hr />
	<!-- <section class="section"></section> -->

	<section class="section">
		<div class="uk-container-large">
			<div class="about-product">
				<h2 class="uk-text-bold">Lorem ipsum dolor sit amet.</h2>
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente
					voluptates unde iure, molestiae maiores ipsam ipsa deserunt?
					Dignissimos, consectetur? Repudiandae perspiciatis sapiente adipisci
					magni? At.
				</p>

				<button class="uk-button uk-button-primary" data-aos="zoom-in">
					Buy now
				</button>
			</div>
			<div class="photo-grid">
				<img src="/public/img/product/a.webp" alt="" />
				<img src="/public/img/product/b.webp" alt="" />
				<img src="/public/img/product/c.webp" alt="" />
				<img src="/public/img/product/d.webp" alt="" />
			</div>
		</div>
	</section>

	<!-- <section class="section"></section> -->
	<hr />

	<section class="section">
		<div class="uk-container-large">
			<div class="photo-grid">
				<img src="/public/img/product/a.webp" alt="" />
				<img src="/public/img/product/b.webp" alt="" />
				<img src="/public/img/product/c.webp" alt="" />
				<img src="/public/img/product/d.webp" alt="" />
			</div>
			<div class="about-product">
				<h2 class="uk-text-bold">Lorem ipsum dolor sit amet.</h2>
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente
					voluptates unde iure, molestiae maiores ipsam ipsa deserunt?
					Dignissimos, consectetur? Repudiandae perspiciatis sapiente adipisci
					magni? At.
				</p>

				<button class="uk-button uk-button-primary" data-aos="zoom-in">
					Buy now
				</button>
			</div>
		</div>
	</section>

	<!-- <section class="section"></section> -->
	<hr />

	<section class="section">
		<div class="uk-container-large">
			<div class="about-product">
				<h2 class="uk-text-bold">Lorem ipsum dolor sit amet.</h2>
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente
					voluptates unde iure, molestiae maiores ipsam ipsa deserunt?
					Dignissimos, consectetur? Repudiandae perspiciatis sapiente adipisci
					magni? At.
				</p>

				<button class="uk-button uk-button-primary" data-aos="zoom-in">
					Buy now
				</button>
			</div>
			<div class="photo-grid">
				<img src="/public/img/product/a.webp" alt="" />
				<img src="/public/img/product/b.webp" alt="" />
				<img src="/public/img/product/c.webp" alt="" />
				<img src="/public/img/product/d.webp" alt="" />
			</div>
		</div>
	</section>
</div>
