@import '../utils/vars';
@import './button';

form {
	display: flex;
	gap: $gap-between-items;
	justify-content: space-between;
	padding: 0 $gap-between-items $gap-between-items;

	select {
		padding: 0.5rem;
		border-radius: 0.5rem;
		border: 1px solid rgb(219, 219, 219);
	}

	button {
		flex-grow: 1;

		@include button;
	}
}
