.sidebar {
	left: 0;
	top: 50%;
	display: flex;
	position: fixed;
	cursor: pointer;
	flex-direction: column;
	transform: translateY(-50%);
	background-color: rgb(23, 95, 228);

	a {
		width: 50px;
		height: 50px;
		display: flex;
		color: #fff;
		align-items: center;
		text-decoration: none;
		justify-content: center;

		&:not(:last-of-type) {
			border-bottom: 1px solid #fff;
		}

		span {
			color: inherit;
		}

		&:hover {
			background-color: rgb(33, 102, 231);
		}
	}
}
