<link rel="stylesheet" href="/public/css/checkout.min.css" />

<section class="checkout">
	<form method="POST" action="/pay">
		<section>
			<label for="firstName">First name</label>
			<input
				type="text"
				name="firstName"
				{{ if not .Products }} disabled {{end}}
			/>
		</section>
		<section>
			<label for="lastName">Last name</label>
			<input 
				type="text" 
				name="lastName" 
				{{ if not .Products }} disabled {{end}} 
			/>
		</section>
		<section>
			<label for="email">Email</label>
			<input 
				type="text"
				name="email" 
				{{ if not .Products }} disabled {{end}} 
			/>
		</section>
		<section>
			<label for="phone">Phone</label>
			<input 
				type="text" 
				name="phone"
				{{ if not .Products }} disabled {{end}} 
			/>
		</section>
		<section>
			<label for="address">Address</label>
			<input 
				type="text" 
				name="address"
				{{ if not .Products }} disabled {{end}} 
			/>
		</section>
		<section>
			<label for="postalCode">Postal Code</label>
			<input 
				type="text" 
				name="postalCode"
				{{ if not .Products }} disabled {{end}} 
			/>
		</section>
		<button {{ if not .Products }} disabled {{end}}>Continue to payment</button>
	</form>
	<div class="inventory">
		<ul>
			{{ range .Products }}
			<li>
				<a href="/product/{{ .ID }}">
					<div class="product-details">
						<img src="{{ .Image.Src }}" alt="" />
						<div>
							<h3>{{ .Name }}</h3>
							<h4>{{ .Amount }} SEK</h4>
						</div>
					</div>
				</a>
				<div class="product-quantity">
					<a href="/change-quantity/increment/{{ .ID }}">
						<span class="material-icons-outlined">add</span>
					</a>
					<span>{{ .Quantity }}</span>
					<a href="/change-quantity/decrement/{{ .ID }}">
						<span class="material-icons-outlined">remove</span>
					</a>
				</div>
			</li>
			{{ end }}
		</ul>
	</div>
</section>
