<div class="product">
	<div class="product_thumbnail"></div>
	<div class="product_body">
		<h2>Amazing Shoes</h2>

		<p>
			Lorem Ipsum is simply dummy text of the printing and typesetting industry.
			Lorem Ipsum is simply dummy text of the printing and typesetting
			industry.Lorem Ipsum is simply dummy text of the printing and typesetting
			industry
		</p>

		<h4>200 SEK</h4>

		<ul>
			<li>Something</li>
			<li>Something</li>
			<li>Something</li>
			<li>Something</li>
		</ul>

		<form method="POST" action="/checkout">
			<input value="1" min="1" type="number" name="quantity" id="" />
			<button>Buy</button>
		</form>
	</div>
</div>
