<div class="hero-section"></div>

<div class="products-grid">
	{{ range .Products }}
	<div class="product">
		<img
			alt="{{ .Name }} product image"
			src="https://images.pexels.com/photos/19090/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
		/>

		<div class="product-header">
			<h2 class="product-title">Amazing Shoes</h2>
			<h4 class="product-price">200 SEK</h4>
		</div>

		<div class="product_body">
			<p class="product-description">
				Lorem Ipsum is simply dummy text of the printing and typesetting
				industry. Lorem Ipsum is simply dummy text of the printing and
				typesetting industry.Lorem Ipsum is simply dummy text of the printing
				and typesetting industry
			</p>

			<ul class="product-features">
				<li>Quality</li>
				<li>Recommended By Pros</li>
				<li>Cheap</li>
				<li>Very comfortable</li>
			</ul>
		</div>

		<form method="POST" action="/add-to-cart/{{ .ID }}">
			<select name="quantity">
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
			</select>
			<button>Add to cart</button>
		</form>
	</div>
	{{ end }}
</div>
