#cart {
	left: 0;
	top: 50%;
	width: 40px;
	height: 40px;
	position: fixed;
	cursor: pointer;
	color: #f0f0f0;
	padding: 0.55rem;
	transform: translateY(-50%);
	background-color: rgb(23, 95, 228);

	img {
		width: 100%;
		height: 100%;
	}

	&:hover {
		background-color: rgb(33, 102, 231);
	}
}
