@import './partials/cart';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 5rem;
	font-family: 'Open Sans', sans-serif;

	@media (max-width: 970px) {
		padding: 2rem;
	}

	@media (max-width: 530px) {
		padding: 1rem;
	}
}

button {
	font-family: 'Open Sans', sans-serif;
}

html,
body,
main {
	width: 100%;
}
