@import './cart';
@import './checkout';
@import './hero-section';
@import './product';
@import './view-product';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 5rem;
	font-family: 'Open Sans', sans-serif;

	@media (max-width: 970px) {
		padding: 2rem;
	}

	@media (max-width: 530px) {
		padding: 1rem;
	}
}

button {
	font-family: 'Open Sans', sans-serif;
}

html,
body,
main {
	width: 100%;
}

.products-grid {
	gap: 2rem;
	display: flex;
	padding: 1rem 0;
	flex-direction: column;

	@media (min-width: 470px) {
		display: grid;
		padding: 2rem 0;
		grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	}
}
