.photo-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.photo-grid img {
	background-color: rgb(211, 211, 211);
}

.column {
	gap: 3rem;
	display: flex;
	padding: 2rem 0;
	flex-direction: column;
}

.section .uk-container-large {
	display: flex;
	margin: 0 auto;
	grid-template-columns: 1fr 1fr;
}

hr {
	border-top-color: rgb(238, 238, 238);
}

.about-product {
	padding: 2rem;
}
