.photo-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.photo-grid img {
	width: 250px;
	height: 250px;
	background-color: rgb(211, 211, 211);
}

.section:nth-child(even) {
	height: 65vh;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-image: url('/public/img/visuals/a.jpg');
}

.section:nth-child(odd) {
	background-color: #fff;
}
