body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.product {
	box-shadow: 1px 2px 25px 10px #f0f0f0;
	display: flex;
	width: 50vw;
}

.product_thumbnail {
	background-image: url('https://images.pexels.com/photos/19090/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
	padding-top: 56.25%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
}

.product_body {
	padding: 5rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	width: 100%;
}

.product_body h2,
.product_body p,
.product_body h4 {
	margin: 0;
}

.product_body h2 {
	font-weight: 700;
}

.product_body h4 {
	font-family: 'Red Hat Mono', monospace;
	font-weight: 500;
}

.product_body ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.product_body li {
	padding: 0.5rem 0;
}

.product_body li:not(:last-of-type) {
	border-bottom: 1px solid rgb(219, 219, 219);
}

.product_body input[type='number'] {
	padding: 0.5rem 0.45rem;
	border: 1px solid rgb(219, 219, 219);
	width: 40px;
}

.product_body button {
	padding: 0.5rem 1rem;
	border-color: transparent;
	background-color: rgb(207, 117, 13);
	color: #f0f0f0;
	cursor: pointer;
}

.product_body button:hover {
	background-color: rgb(223, 129, 21);
}
